
.header {
    background-color: rgb(34, 102, 228);
    padding: 20px 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    cursor:pointer;
}

ul li:hover {
    background-color: green;
}

.nav{
    position: sticky;
    top: 0;
    
}

