<mat-card class="contact-container">
  <mat-card-header>
    <mat-card-title>Contact Us</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="contact-box">
      <div class="left">
        <img src="../assets/img5.jpg" alt="contact logo">
      </div>
      <div class="right">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Your Name</mat-label>
          <input matInput placeholder="Your Name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Your Email</mat-label>
          <input matInput placeholder="Your Email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn">Send</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
